.gallery-card-container{
    height:300px;
    width:240px;
    border-radius:10px;
    display: flex;
    box-shadow: 4px 4px 10px rgba(25,25,25,0.2);
    margin:10px;
    color:white;
    flex-direction: column;
}

.gallery-card-container-top{
    height:85%;
    background-color:rgb(102, 102, 102);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align:center;
    /* padding:20px; */
    box-shadow: 4px 4px 10px rgba(25,25,25,0.2);
    color:white;
    flex-direction: column;
    background-size:100%;
}
.titlecon{
    margin-top:20%;

}
.titlecon p{
    font-weight: bold;
    color:white;
    font-size:1.3rem;
    margin-top:1%;
}

.namecon{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-top:9%;
}

.namecon span{
    color:white;
    font-size:0.8rem;
}
.move{
    text-decoration: none;
}
.types{
    font-size:13px;
    width:100%;
    display:flex;
    justify-content:center;
    text-decoration: none;
    color:black;
}
.gallery-card-type{
    margin:5px;
    color:white;
    padding:3px 5px;
    border-radius:4px;
}

.gallery-card-bottom{
    background-color:white;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    height:15%;
    color:black;
    font-size:11px;
    display: flex;
    align-items: center;
    padding-left:6px;
}
.gallery-main-image{
    z-index:1;
}