@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.if-my-gallery{
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: row;
    margin-top:1%;
    width:500px;
    height:60px;
    border-radius:15px;
}

.gallery-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    padding-top:3%;
}
.gallery-header-left{
    width:10%;
}
.gallery-header{
    display: flex;
    flex-direction: column;
    width:75%;
    padding-left:3%;
}

.gallery-page-top-first{
    width:100%;
    display: flex;
    justify-content:start;
    align-items:start;
    padding-left:0%;
    font-size:14px;
}

.gallery-owner{
    display: flex;
    justify-content:center;
    align-items: start;
    flex-direction: column;
    margin-top:1%;
    width:95%;
    height:150px;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
    padding-left:4%;
    padding-top:5%;
    background-color:#060b26;
    color:white;
}

.gallery-title{
    font-size:1.5rem;
    margin-top:1%;
    font-family: "GmarketSansMedium";
}
.title-info{
    font-size:14px;
    width:70%;
    padding:10px 10px;
}
.soozip-gury-list{
    width:100%;
    display: flex;
    flex-direction: row;
    margin-top:3%;
    font-family:'GmarketSansMedium';
}
.soozip-gury{
    font-size:20px;
    font-weight:700;
    width:50%;
}
.soozip-gury-filter{
    width:50%;
    display: flex;
    justify-content:end;
}

.soozip-gury-select{
    cursor: pointer;
}
.soozip-gury-select:hover{
    font-weight:700;
}

.collections-table2{
    z-index:1;
    display: flex;
    justify-content: start;
    align-items: start;
    width:100%;
    margin-top:2%;
    flex-wrap: wrap;
    flex-direction: row;
}
.collection-list{
    width:100%;
    flex-direction:column;
    display: flex;
    align-items:center;
    justify-content:center;
}

.gallery-type-table{
    display: flex;
    justify-content:start;
    background-color:rgba(255, 255, 255, 0);
    align-items: center;
    flex-direction:row;
    width:70%;
}

.side-actions{
    z-index:1;
    width:100%;
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: row;
    margin-top:1%;
}

.action-component{
    height:70px;
    padding: 0px 10px;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color:white;
    margin:10px;
    box-shadow: 6px 6px 10px rgba(25,25,25,0.2);
    cursor:pointer;
}
.action-component:hover{
    background-color:rgb(231, 231, 231);
}

.tag{
    height:30px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 14px;
    margin-right:20px;
}

.comment-container{
    width:60%;
}
.comment-input{
    width:70%;
    height:50px;
    font-size:18px;
}
.comment-send{
    height:50px;
}

.comment-one{
    border-radius:5px;
    box-shadow: 5px 5px 5px rgba(25,25,25,0.2);
    padding:1%;
}
.comment-title{
    font-size:19px;
    font-family: "GmarketSansMedium";
    margin-bottom:1%;
}
.font{
    font-family: TTTogether;
}
.num{
    font-size:13px;
    display: flex;
    justify-content: center;
    margin-left:0px;
}
.collection-delete-button{
    padding:5px 10px;
    background-color:red;
    color:white;
    font-size:12px;
    cursor:pointer;
    margin-right:2%;
}