@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.one-collection-body-left{
    width:16%;
    background-color: red;
}

.one-collection-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
}

.one-collection-body-right{
    width:60%;
    padding-left:5%;
}

.one-collection-body{
    margin-top:2%;
    width:90%;
    display:flex;
    justify-content:center;
    align-items:start;
    flex-direction: column;
    border-radius: 15px;
    padding-left:3%;
    padding-right:3%;
    padding-bottom:1%;
    font-weight: 600;
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.1); */
}

.one-collection-gallery-owner{
    display: flex;
    justify-content:center;
    align-items: start;
    flex-direction: column;
    margin-top:1%;
    width:90%;
    height:100px;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
    padding-left:2%;
    padding-top:0%;
    background-color:#060b26;
    color:white;
}

.gallery-name{
    width:100%;
    margin-top:15px;
    margin-bottom:5px;
}
.gallery-link{
    color:white;
    text-decoration: none;
}


.collection-top{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    width: 100%;
}

.collection-title-top{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.collection-title{
    font-family:EliceRegular;
    font-size:25px;
    width:80%;
}

.collection-title-bottom{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.collection-owner{
    color:gray;
    font-size:12px;
}

.collection-date{
    color:gray;
    font-size:12px;
}

.image-container{
    width: 100%;
    display: flex;
    justify-content:start;
    align-items:start;
    padding-top:3%;
    padding-bottom:3%;
}
.image{
    width:70%;
}

.collection-desc{
    width: 100%;
    display: flex;
    justify-content:start;
    align-items: start;
    flex-direction:column;
}

.desc-head{
    font-weight:600;
    font-size:16px;
}

.desc-body{
    font-size:15px;
    margin-top:1%;
    padding: 5px 8px;
    border-left: 2px solid rgb(109, 109, 109);
    font-weight:400;
}

.like-container{
    width: 100%;
    display: flex;
    justify-content:start;
    align-items: start;
    flex-direction: row;
    margin-top:3%;
}

.type-one{
    width: 80px;
    padding: 5px 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    font-size:14px;
    font-family: EliceRegular;
    background-color:white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.collection-like-button{
    width:50%;
    height:50px;
    border-radius: 3px;
    display: flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    background-color:#62A1B0;
    ;
}

.like-desc{
    font-family:EliceBold;
    font-size:17px;
    color:white;
}

.more-button{
    width:90%;
    height:50px;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.4);
}
.left-like-container{
    width:100%;
    display: flex;
    justify-content:start;
}

.one-collection-right-right{
    padding-left:2%;
    width:20%;
    height:100%;
    display: flex;
    flex-direction:column;
}

.similar-collections-container{
    position:absolute;
    top:13%;
    width:20%;
}

.similar-collections-title{
    font-size:16px;
    font-family: 'GmarketSansMedium';
}

.similar-collections-list{
    margin-top:1%;
    display: flex;
    flex-direction:column;
    width:90%;
}

.similar-collections-one{
    display: flex;
    flex-direction:column;
    margin-top:2%;
    text-decoration: none;
    color:black;
    padding-bottom:3%;
    border-bottom: 1px rgb(197, 197, 197) solid;
    font-size:13px;
}

.hashtags-container{
    margin-top:5%;
}

.hashtags-one{
    color:#62A1B0;
    font-size:13px;
}

.similar-collections-one-img{
    object-fit: cover;
    width:200px;
    height:200px;
}