.all-table-title{
    background-color:#060b26;
    width:100%;
    padding: 2% 1%;
    color:white;
    font-size:21px;
    display:flex;
    justify-content:center;
    padding-left:3%;
    flex-direction: column;
    margin-bottom:1%;
}
.all-galleries-container{
    width:80%;
}

.all-table{
    display: flex;
}